@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

label,
span {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.main_section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #f5f7fa;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* Main content section */
.main_content_section {
  margin: 100px 90px;
  background-color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.main_content_section h3 {
  font-size: 22px;
  font-weight: normal;
  line-height: 27px;
  margin-bottom: 10px;
  color: #fff;
  background: #1e2939;
  padding: 15px;
  text-transform: uppercase;
}

/*  About me section */
.about_me_section {
  margin-bottom: 40px;
}

.about_me_section h1 {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: black;
  margin-bottom: 25px;
}

.about_me_section p {
  width: 500px;
  line-height: 24px;
  color: #595959;
}

.about_my_profession {
  font-weight: bold;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

/* My project section */
.my_project_section {
  margin-bottom: 50px;
}

.my_project_section ol,
.my_additional_education_section ol {
  padding: 0 0 0 17px;
}

.my_project_section a,
.my_additional_education_section a {
  text-decoration: none;

  color: #595959;
}
.my_project_section a:hover,
.my_additional_education_section a:hover {
  text-decoration: underline;
  color: violet;
}

.my_project_section li,
.my_additional_education_section li {
  font-weight: normal;
  color: #000000;
}

.project_item_list_content {
  color: #595959;
  margin-left: 5px;
}
/* My work experience section  */
.my_work_section {
  margin-bottom: 45px;
}

.my_work_section h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: hsl(0, 0%, 0%);
  margin: 15px 0 10px 0;
}

.my_work_section span {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 15px 0 10px 0;
}

.my_work_section p,
.my_education_section p {
  margin: 10px 0;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.my_work_section h6 {
  margin: 10px 0 0 0;
  font-weight: normal;
  text-decoration: underline;
}

.my_work_section ul {
  margin-top: 5px;
  padding: 0 0 0 17px;
  color: #595959;
}

/* My education section */
.my_education_section h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 10px 0;
}

.my_education_section h5 {
  font-weight: bold;
  line-height: 17px;
  color: #000000;
  margin: 10px 0;
}

/* Side bar section */
.sidebar_section {
  background: #e1d8cf;
  width: 370px;
  padding-top: 40px;
  border-radius: 15px;
}

.sidebar_section img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto 50px auto;
  border-radius: 50%;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.sidebar_block {
  margin: 0 0 50px 40px;
  width: 300px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  color: #000;
}

.sidebar_block h3 {
  color: #fff;
  font-size: 22px;
  line-height: 27px;
  font-weight: normal;
  margin-bottom: 10px;
  background: #1e2939;
  padding: 15px;
  text-transform: uppercase;
  /* text-align: center;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%; */
}

.sidebar_block ul {
  margin-left: 30px;
  padding: 0px;
}

.sidebar_block li {
  color: #373741;
  padding-bottom: 2px;
}

.sidebar_block p {
  font-size: 13px;
  margin: 0px 0px 0px 10px;
  padding: 4px 0;
}

.sidebar_block p > a {
  color: #000;
  text-decoration: none;
}

.sidebar_block p > a:hover {
  color: blue;
  text-decoration: underline;
}
